/* Gallery.css */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .gallery-item {
    width: 200px; /* Initial fixed width */
    height: 200px; /* Initial fixed height */
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
  }
  
  .gallery-item img {
    width: 300px;
    height: 100%;
    object-fit: cover; /* Ensure image covers the container */
    display: block;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover {
    z-index: 10;
    width: auto; /* Change to auto width on hover */
    height: auto; /* Change to auto height on hover */
    transform: scale(1.05);
  }
  
  .gallery-item:hover img {
    opacity: 0.8;
  }
  